
body{
	margin: 0;
	min-height: 800px;
	background-color: #666666;
	text-align: center;}

#container{
	margin: 100px auto 0 auto;
	width: 1000px;}

#wisdom {
	width: 515px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid black;
	background-color: #222222;
	color: #eeeeee;
	font-style: italic;
	font-family: 'sans serif';
	line-height: 100%;}

#what {
	font-size: 20px;
	text-align: left;}
		
#who {
	text-align: right;
	font-size: 12px;}

#clock{
	margin: 0 auto;
	background-color: #111111;
	border-collapse: collapse;}

td {
	border: 8px solid #333333;}


#hrs, #min, #sec {
	width: 200px;}

#day {
	width: 300px;}

h1, h2 {
	margin: 0;
	color: #fff555;
	font-family: 'DotMatrix', 'sans serif';
	font-weight: normal;}

h1 {
	margin-top: 10px;
	font-size: 85px;
	letter-spacing: 6px;}

h2 {
	font-size: 40px;
	margin: 0;}	

#content {
	color: #db0308;
	font-size: 170px;
	line-height: 100%;
	font-family: Digit, courier-new, monospace;
	font-style: normal;}

#content td.counter {
	padding: 0 20px 20px 0;
	text-align: left;
	}	

#question {
	margin: 5px auto 0 auto;
	width: 450px;
	font-size: 12px;}

#question > a {
	width: 20px;
	margin: 0 auto;
	padding: 5px;
	display: block;
	color: #222222;
	text-decoration: none;}

#question > a:hover, #question > a:focus {
	color: #fff555;}

#answer {
	text-align: left;
	padding: 8px;
	border: 5px solid #333333;
	color: #eeeeee;
	background: #555555;
	font-family: 'sans serif';
	line-height: 150%; }

#answer ul, #answer ol {
	margin-top: 0;}

#answer ul {
	list-style-type: disc;}

#answer ul, #answer ol {
	list-style-position: outside;
	margin-left: -12px;}

#answer a {
	color: #fff555;
	text-decoration: none;}

#answer a:hover, #answer a:focus {
	text-decoration: underline;}
	

/*  Fonts  */
@font-face {
 font-family: Digit;
 src: url("fonts/DS-DIGI.TTF")
}
@font-face {
 font-family: DotMatrix;
 src: url("fonts/DOTMATRI.TTF")
}

